*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    animation-name: back;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: yellow;
}
@keyframes back {
    0%{
        background-color: yellow;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: yellow;
    }
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-items{
    border: solid;
}
header{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.container{
    height: 80vh;
}
.game{
    width: 40%;
    height: 80vh;
    text-align: center;
}
table{
    margin: auto;
    margin-top: 50px;
}
.gametitle{
    font-size: 30px;
}
.score{
    width: 40%;
    height: 80vh;
    text-align: center;
}
.correct{
    background-color: green;
    height: 40vh;
    border-radius: 100px;
    margin-bottom: 300px;
}
.incorrect{
    background-color: red;
    height: 40vh;
    border-radius: 100px;
    margin-bottom: 300px;
}
.scoreBoard{
    height: 75vh;
}
