*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    animation-name: back;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: yellow;
}
@keyframes back {
    0%{
        background-color: yellow;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: yellow;
    }
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-items{
    border: solid;
}
header{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.container{
    height: 80vh;
}
.game{
    width: 40%;
    height: 80vh;
    text-align: center;
}
table{
    margin: auto;
    margin-top: 10px;
}
.gametitle{
    font-size: 30px;
    margin-top: 20px;
}
.score{
    width: 40%;
    height: 80vh;
    text-align: center;
}
.scores {
    margin-bottom: 300px;
}
.correct{
    background-color: green;
    height: 40vh;
    border-radius: 100px;
}
.incorrect{
    background-color: red;
    height: 40vh;
    border-radius: 100px;
}
.scoreBoard{
    height: 75vh;
}

/* ---------------------------Media----------------------- */
@media screen and (max-width: 1540px) {
    td img {
        width: 130px;
    }    
    table {
        margin-top: 20px;
    }
    .scores img {
        width: 130px;
    }
    .scores{
        margin-top: 30px;
    }
}

@media screen and (max-width: 1330px) {
    header h1 {
        font-size: 35px;
    }
    header h3 {
        font-size: 20px;
    }
    td img {
        width: 100px;
    }
    .scores img {
        width: 100px;
    }
    .scores {
        margin-top: 100px;
    }
    .gametitle {
        font-size: 20px;
    }
}
